<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>xconf.io - Dockerfile search</title>

    {{template "HeadIncludes"}}
    <style>{{template "HeadStyles"}}</style>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h1 class="brand">xconf.io</h1>
        <p class="powered-by">Powered by <a href="https://sourcegraph.com" target="_blank">✱ Sourcegraph</a></p>
      </div>

      <div class="row">
        <div class="col-md-12">
          <form action="?" role="form" class="search" data-pjax>
            <div class="form-group">
              <label for="q">Find Dockerfiles containing:</label>
              <input type="search" class="form-control input-lg" name="q" id="q"
                     placeholder="Dockerfile search" value="{{.Query}}" autofocus
                     onfocus="this.value=this.value"
                     >
            </div>
            <button type="submit" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> Search Dockerfiles</button>
            <!-- <button type="submit" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> Example queries</button> -->
            <div class="btn-group">
              <a data-toggle="dropdown" aria-expanded="false">Example queries <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                {{range exampleQueries}}
                {{if .}}
                <li><a href="{{queryURL .}}">{{.}}</a></li>
                {{else}}
                <li class="divider"></li>
                {{end}}
                {{end}}
              </ul>
            </div>
            <div class="btn-group about-link">
              <a data-toggle="modal" data-target="#about">About</a>
              
            </div>
          </form> 
        </div>
      </div>

      <div class="row results" id="results" data-pjax-container>
        {{template "Results" $}}
      </div>

    </div>

    <script>
     // Query highlighting
     function highlightQuery() {
       var q = document.getElementById("q").value;
       if (q) {
         q.split(/[^\w]/).forEach(function(p) {
           $("pre.sourcegraph-code span:contains('" + p.replace(/[^\w.-]/g, "") + "')").css("background-color", "yellow");
         });
       }
     }
     document.addEventListener("DOMContentLoaded", highlightQuery);

     // PJAX
     document.addEventListener("DOMContentLoaded", function() {
       /*$(document).on("submit", "form[data-pjax]", function(event) {
             var $e = $(this);
             var $container = $($e.attr("data-pjax"));
             $.pjax.submit(event, {container: $container});
             }); */

       $(document).on("submit", "form[data-pjax]", function(event) {
         console.log("PJAX submit");
         $.pjax.submit(event, {container: $("[data-pjax-container]")});
         event.preventDefault();
       });
     });
    </script>

    {{template "AboutModal"}}

    {{template "BodyIncludes"}}
  </body>
</html>
