{{define "HeadStyles"}}

body {
    font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    overflow-y: scroll;
}

@media(min-width: 1200px) {
    .container {
        width: 970px;
    }
}

{{$blue := "#4E9BD4"}}
{{$blueDark := "#3E7Bc4"}}
.jumbotron {
    background-color: transparent;
    text-align: center;
    padding: 5px;
}
.jumbotron .brand {
    margin: 10px 0 0 0;
    font-size: 3.5em;
    font-weight: bold;
    color: {{$blue}};
}
.jumbotron h1 a {
    color: {{$blue}};
}
.jumbotron .lead, .jumbotron .powered-by {
    padding-bottom: 0;
    margin-bottom: 0;
}
.jumbotron .lead {
    font-size: 2.1em;
}
.jumbotron .powered-by, .jumbotron .powered-by a {
    color: #999;
}
.jumbotron .powered-by {
    font-size: 1.3em;
}

form.search {
    _text-align: center;
}
form.search .btn-group {
    font-size: 1.3em;
    margin-left: 15px;
    cursor: pointer;
}
form.search .about-link {

}
form.search button {
    background-color: {{$blue}};
    border-color: {{$blueDark}};
}
button .glyphicon {
    vertical-align: -2px;
    padding-right: 4px;
}

#results-container, #fake-results-container {
    margin-top: 20px;
}
#results-container li {
    margin-bottom: 20px;
}
#results-container .no-results {
    margin-top: 50px;
    text-align: center;
    font-size: 1.3em;
}
#results-container .no-results em {
    font-weight: bold;
    font-style: normal;
}

#fake-results-container {
    opacity: 0;
}
#fake-results-container.show {
    opacity: 1;
    transition: opacity 0.1s ease-in-out;
}
#fake-results-container .fake-result:nth-child(1) pre.sourcegraph-code {
    height: 205px;
}
#fake-results-container .fake-result:nth-child(2) pre.sourcegraph-code {
    height: 130px;
}
#fake-results-container .fake-result:nth-child(3) pre.sourcegraph-code {
    height: 180px;
}
#fake-results-container .fake-result:nth-child(4) pre.sourcegraph-code {
    height: 250px;
}
#fake-results-container .sourcegraph-footer {
    height: 33px;
}


{{end}}
